<form action="http://kundenserver.de/cgi-bin/mailinglist.cgi" method="POST" target="_blank">
  <input checked name="subscribe_r" type="radio" value="subscribe">
  Yes, I want to become a member of the mailing list info@bowling.scot.
  <br />
  <input name="subscribe_r" type="radio" value="unsubscribe">
  Please remove me from mailing list info@bowling.scot.
  <br />
  Enter your e-mail address:
  <br />
  <input maxlength="51" name="mailaccount_r" size="51" type="text">
  <br />
  Please confirm your e-mail address:
  <br />
  <input maxlength="51" name="mailaccount2_r" size="51" type="text">
  <br />
  <input type="SUBMIT" value="Send">
  <br />
  <input type="RESET" value="Reset">
  <hr />
  <input name="FBMLNAME" type="hidden" value="info@bowling.scot">
  <br />
  <input name="FBLANG" type="hidden" value="en">
  <br />
  <input name="FBURLERROR_L" type="hidden" value="http://kundenserver.de/mailinglist/error.en.html">
  <br />
  <input name="FBURLSUBSCRIBE_L" type="hidden" value="http://kundenserver.de/mailinglist/subscribe.en.html">
  <br />
  <input name="FBURLUNSUBSCRIBE_L" type="hidden" value="http://kundenserver.de/mailinglist/unsubscribe.en.html">
  <br />
  <input name="FBURLINVALID_L" type="hidden" value="http://kundenserver.de/mailinglist/invalid.en.html">
</form>
    